# Dependency directories
node_modules/

# NestJS build output
/dist/

# NestJS logs
/logs/

# Environment variables file
.env

# NestJS test results
/test-results/

# NestJS coverage directory
/coverage/

# NestJS temporary files
/.cache/
/nx-report/

# NestJS generated documentation
/docs/
/swagger/

# IDE-specific files
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db
yarn.lock
package-lock.json
